Notes Status: {{.status}}
{{if eq .status "created"}}
Note '{{.title}}' created.
{{else if eq .status "found"}}
Title: {{.title}}
Content: {{.content}}
{{else if eq .status "updated"}}
Note '{{.title}}' updated.
{{else if eq .status "deleted"}}
Note '{{.title}}' deleted.
{{end}}
