Notes Status: {{.status}}
{{if eq .status "created"}}
Created note: '{{.title}}'
{{else if eq .status "found"}}
Title: {{.title}}
Content: {{.content}}
{{else if eq .status "updated"}}
Updated note: '{{.title}}'
{{else if eq .status "deleted"}}
Deleted note: '{{.title}}'
{{end}}
